@charset "utf-8";
@import url("Roulette Style.css");

body { 
 
    background-color:  antiquewhite; 
} 
h1{
	color: white;
	text-align: center;
	font-size: 150
	px;
} 
 h2{ 
color: white; 
text-align: left; 
font-size: 150
	px; 
} 
h2  { 
    padding-left: 300px; 
} 
 h3{ 
color: white; 
text-align: right; 
font-size: 150
	
} 
h3  { 
    padding-right: 300px; 
} 
h4{ 
color: white; 
text-align: center; 
font-size: 150
} 
h5{ 
color: white; 
text-align: left; 
font-size: 150
	px; 
} 
h5  { 
    padding-left: 300px; 
} 
h6{ 
color: white; 
text-align: right; 
font-size: 150
} 
h6  { 
    padding-right: 300px; 
} 

h7{ 
color: white; 
text-align: center; 
font-size: 150
} 